.form-check-input {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid $dark;
  cursor: pointer;

  &[type='checkbox'] {
    border-radius: 0;
  }

  &:focus {
    box-shadow: none;
    border-color: $dark;
  }

  &:checked {
    border-color: $success;
    background-color: $success;
  }
}

.form-check-label {
  cursor: pointer;
}
