.pagination {
  --bs-pagination-color: var(--bs-success);
  --bs-pagination-border-color: var(--bs-success);
  --bs-pagination-active-bg: var(--bs-success);
  --bs-pagination-active-border-color: var(--bs-success);
  --bs-pagination-hover-border-color: var(--bs-success);
  --bs-pagination-hover-color: var(--bs-success);
  --bs-pagination-hover-bg: var(--bs-gray-500);
  --bs-pagination-focus-color: var(--bs-success);
}