.download-btn {
  background-color: $gray-100;
  border: 1px solid $gray-400;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: $gray-300;
  }
}

.content {
  margin-left: 3.5rem;
}

.comment {
  white-space: pre-line;
}
